

.image{
    height:500px;
}
h1{
    font-weight: 600;
}
span{
    color:#D42B66;
}
.product{
    background-color: #D42B66;
}
.para{
    font-size: 20px;
    font-weight: 500;
}
.cate ,.info{
    background-color: #FFF7F0;
}
.imageCate{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.price{
    color:#D42B66;
    font-weight: 600;
}
.kind{
    font-family: 600;
}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #D42B66;
    
}
.icon i{
    color: white;
}
.best img{
    height:350px
}
a{
    text-decoration: none;
    color: black;
}