<div class="container">
    <div class="text-center">
        <h2>{{keyword}}</h2>
    </div>
    <div class="row" *ngIf="!loading">
        <div class="col-md-3 col-sm-6" *ngFor="let product of products" >
            <app-product1
            [data]="product"
            (item)="addToCart($event)"
          ></app-product1>
        </div>
    </div>
    <div
    class="text-center w-100 d-flex align-items-center justify-content-center"
    *ngIf="loading"
  >
    <app-spinner></app-spinner>
  </div>
</div>

