a{
    color: #D42B66;
    font-family: 600;

}
button{
    border: 1px solid #D42B66;
    background-color: #D42B66;
    color: white;
    transition: scale .5s;
}
button:hover{
    color: white;
scale: (1.1);

}
h3{
    color: #D42B66;
    font-family: 600;
}
.form-control:focus {
    border-color: #D42B66;
  
    box-shadow: 0 0 0 0.2rem rgb(236 123 169 / 30%);
}

.content {
        background-color: #fdfaf7;
    }