<section class="p-2 bg-dark">
  <div class="w-50 m-auto text-center ">
    <img src="./assets/images/pngegg 1.png" alt="" />
    <p class="py-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quasi ad
      tempora cumque ratione voluptas odio facilis exercitationem quod deserunt
      doloribus veniam veritatis doloremque laboriosam, adipisci nemo sint at
      quia?
    </p>
    <div class="d-flex justify-content-center align-items-center position-relative mb-3">
        <div class="icons d-flex justify-content-center align-items-center " >
            <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class="icons d-flex justify-content-center align-items-center ">
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="icons d-flex justify-content-center align-items-center ">
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
    <div class="line"></div>
    <p class=" py-3">copyright © 2023 Fashion Trends </p>
  </div>
</section>
